/* Google/fonts imports */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('normalize.css');

/* ****************************************************
   Base Styles
 **************************************************** */

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2%;
}

p {
  margin-top: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 400;
}

html, body,
.landing-page--main,
.audioplayer-container,
.upload-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

/* Mobile first CSS */

/* ********************************************************************************************************
   NavBar
 ******************************************************************************************************** */
.main-navigation {
  display: flex;
  flex-direction: row;
  margin-left: 3%;
  margin-right: 3%;
  align-items: center;
  max-height: 80px;
  max-width: 960px;
}

@media only screen and (min-width: 960px) {
  .main-navigation {
    margin: 0 auto;
  }
}

.navigation-logo {
  margin: 0;
  padding: 0;
  display: block;
  width: 20%;
  color: #a7a7a7;
  font-size: 1.1rem;
}
.navigation-container {
  display: flex;
  flex-direction: row;
  width: 77%;
  justify-content: flex-end;
}

.navigation-container li {
  list-style: none;
  display: inline-block;
  padding:3px 4px;
  font-size: .85rem;
}

.navigation-container a.selected {
  border-bottom: 1px solid black;
  color: black;
}

section {
  flex: 1 auto;
}

.footer {
  flex-shrink: 0;
  padding-top: 3%;
  padding-bottom: 3%;
}


/* ********************************************************************************************************
   Landing Page
 ******************************************************************************************************** */

.landing-page--main p,
small {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  max-width: 600px;
}

.footer {
  text-align: center;
  border-top: 1px solid #a7a7a7;
  flex-shrink: 0;
}

@media only screen and (min-width: 325px) {
   .intro-section--main {
     height: 250px;
   }
 }

 @media only screen and (min-width: 550px) {
   .intro-section--main {
     height: 450px;
   }
 }



 /* ****************************************************
    intro section
  **************************************************** */

 .intro-section--main {
   background: url('../images/contact-banner-2x.jpg') no-repeat;
   background-size: cover;

 }

 .intro-section--main h3 {
   font-size: 2.5rem;
   font-weight: 100;
 }

 .intro-section--main p {
   font-size: 1.5rem;
 }

 .discovery-section--main,
 .about-section--main,
 .intro-section--main {
   color: white;
   display: flex;
   justify-content: center;
   padding: 4%;
 }


/* ****************************************************
   About Section
 **************************************************** */

 .about-section--main {
   background-color: #F4BA81;
 }

.about-section--main h3 {
  margin-top: 0;
  color: white;
  font-weight: 100;
  font-size: 2.5rem;
  text-align: left;
}

.about-section--main p {
  color: white;
  font-size: 1.5rem;
}

.monitor-img {
  max-width: 400px;
  align-self: center;
}



/* ****************************************************
   Discovery Section
 **************************************************** */

.discovery-section--main {
  background-color: #B68B60;
}

.discovery-section--main h3 {
  margin-top: 0;
  font-weight: 100;
  font-size: 2.5rem;
  text-align: left;
}

.discovery-section--text {
  display: flex;
  display: row;
  font-size: 1.5rem;
}

.monk-icon--container {
  width: 50%;
  max-width: 250px;
  align-self: center;
}

.heart-icon {
  width: 25px;
  height: 25px;
}


/* ****************************************************
   Monasteries Page
 **************************************************** */

.monastery-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 750px) {
  .monastery-container {
    margin: 0 auto;
    max-width: 750px;
  }

  .monastery-container--item {
    height: 300px;
  }
}

.monastery-container--item {
  display: inherit;
  position: relative;
  justify-content: center;
  flex-direction: column;
  min-height: 215px;
  width: 100%;
  margin-bottom: 2%;
}

  .monastery-container--item::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

    .monastery-container--item:nth-child(odd):after {
      background: rgba(196, 142, 32, .4);
    }

    .monastery-container--item:nth-child(even):after {
      background: rgba(116, 169, 126, .4);
    }

.monastery-container--item-inner {
  position: relative;
  z-index: 3;
}

.monastery-contianer--item-title {
  color: white;
  font-weight: 100;
  font-size: 1.875rem;
  text-shadow: 1px 1px 3px black;
}

.monastery-container--item-inner p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.monastery-item--arrow {
  color: white;
  font-size: 1.2rem;
}



/* ********************************************************************************************************
   Teachers Select Page
 ******************************************************************************************************** */

/* *******************************
 Teachers Container Header
******************************* */

.teachers-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.teachers-container--main {
  flex: 1 0 auto;
}

.teachers-header {
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 104px;
  padding-left: 3%;
}

.teachers-header--inner {
  position: relative;
  width: 100%;
  z-index: 3;
}

  .teachers-header--inner h2 {
    color: white;
    font-size: 1.875rem;
    font-weight: 100;
    line-height: 1.2rem;
  }

  .teachers-header--inner span {
    margin-left: 2%;
    font-weight: 300;
    font-size: 1rem;
    padding-left: 1rem;
  }

.teachers-header::after {
  content: "";
  position: absolute;
  background: rgba(116, 169, 126, .4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}



/* *******************************
 Teachers List
******************************* */

.teachers-list {
  display: flex;
  flex-direction: column;
}

  .teachers-list--title {
    margin-left: 3%;
    font-weight: 300;
  }

.teachers-list--item {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
}

  .teachers-list--item:first-of-type {
    margin-top: 1%;
  }

  .teachers-list--item .teacher-img {
    height: 72px;
    width: 72px;
    border: 1px solid black;
    border-radius: 50%;
  }

  .teachers-list--item--details {
    flex-grow: 2;
    margin-left: 3%;
    height: 100%;
  }

  .teachers-list--item--details p {
    font-weight: 100;
  }

.teachers-list--arrow,
.teachers-footer--arrow {
  margin-left: 3%;
  padding: 4px;
}

.heart-logo {
  width: 15px;
  height: 15px;
  position: relative;
  top: 2px;
}



/* *******************************
 Teachers Footer
******************************* */

.teachers-container--footer {
  padding-right: 3%;
  padding-left: 3%;
  height: 60px;
  display: flex;
  align-items: center;
  background: #f38181; /* Old browsers */
  background: linear-gradient(45deg, #f38181 0%,#fce38a 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.teachers-container--footer {
  display: flex;
  flex-direction: row;
  padding-left: 3%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.teachers-footer--arrow {
  margin-left: auto;
  font-weight: bold;
  font-size: 1.3rem;
}



/* ****************************************************
   Audioplayer Page
 **************************************************** */

 .audioplayer-container,
 .audioplayer-container-header {
   display: flex;
   flex-direction: column;
   text-align: center;
 }



 /* *******************************
  Audioplayer Container Header
 ******************************* */

 .audioplayer-container-header {
  position: relative;
  justify-content: center;
  align-items: center;
  height: 220px;
  z-index: 1;
  padding-bottom: 36px;
  margin-bottom: 20%;
 }

 .audioplayer-container-header::after {
   content: "";
   background: rgba(116, 169, 126, .6);
   -webkit-filter: blur(10px);
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 2;
 }

 .audioplayer-container-header--title {
   position: relative;
   color: white;
   text-shadow: 1px 1px 3px black;
   font-weight: 100;
   font-size: 1.875rem;
   text-align: center;
   z-index: 3;
 }

 .audioplayer-container-header--img {
   position: absolute;
   border-radius: 50%;
   top: 66%;
   border: 1px solid black;
   z-index: 4;
 }



 /* *******************************
  Audioplayer Header
 ******************************* */

.audioplayer-header {
  text-align: center;
}

  .audioplayer-header h2 {
    font-size: 2.375rem;
    font-weight: 300;
    margin-top: 1%;
  }
  .audioplayer-header h5 {
    color: #a7a7a7;
    margin-top: 1%;
    margin-bottom: 2rem;
    font-weight: 100;
    font-size: 1.4375rem;
  }



  /* *******************************
   Audioplayer Controls
  ******************************* */
  .playlist-container {
    margin-left: 4%;
    text-align: left;
    margin-right: 4%;
  }
  .audioplayer-controls {
    border: 1px solid black;
  }


  /* *******************************
   Playlist Navbar
  ******************************* */

  .playlist-navbar {
    text-align: left;
    margin-top: 4%;
    padding-bottom: 1%;
    border-bottom: 1px solid #a7a7a7;
    margin-bottom: 2%;
  }

    .playlist-navbar a {
      display: inline-block;
      font-size: 1.75rem;
      font-weight: 100;
      margin-right: 2%;
    }



/* *******************************
 Playlist Items
******************************* */

.playlist-container {
  flex: 1;
}


/* *******************************
 Tags container
******************************* */

.tags-container--items {
  margin-bottom: 4%;
}



/* ********************************************************************************************************
   Upload Talk Page
 ******************************************************************************************************** */

 /* *******************************
  Upload container
 ******************************* */

.upload-container {
  display: flex;
  flex-direction: column;
}



/* *******************************
 Upload Header
******************************* */

.upload-container--header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 275px;
  width: 100%;
  background: url('../images/contact-banner-2x.jpg') no-repeat;
  background-size: contain;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 100;
  color: white;
  text-shadow: 1px 1px 3px black;
}

@media only screen and (min-width: 420px) {
   .upload-container--header {
     background-size: cover;
   }
 }


/* *******************************
 Upload Header
******************************* */

.upload-form-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.upload-form-container form {
  margin-top: 4%;
  text-align: center;
}

.input-container {
  margin-top: 3%;
}


.custom-select,
.input-container input,
textarea {
  position: relative;
  display: block;
  max-width: 400px;
  width: 85%;
  min-width: 180px;
  z-index: 10;
}

.custom-select,
.input-container input,
.input-container textarea {
  background-color: white;
  border: 1px solid black;
  padding: 12px 25px 15px 15px;
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: 100;
}


select {
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 12px 55px 15px 15px;
  font-size: 1.4rem;
  font-weight: 100;
  color: black;
}

.upload-button {
  font-family: 'Montserrat', sans-serif;
  width: 85%;
  max-width: 400px;
  padding: 10px 15px 10px 15px;
  font-size: 1.2rem;
  font-weight: 100;
  background-color: #65ca7b;
  color: white;
  border: 3px solid #60a76f;
  margin-top: 2%;
}
