/*
   Stylesheet for the landing page only, styles for App pages located in
   ./App.css
*/

@import url('normalize.css');
@import url('fonts.css');
/* Base Styles */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* body {
	font-family: Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}
*/

img {
  width: 100%;
}

.flex {
  display: flex;
}

/* Grid Styles */

.wrapper {
  width: 100%;
}

.row {
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 auto;
}

[class*="col-"] {
  flex: 0 0 92%;
  margin: 0 4%;
}

.col-reset {
  flex: 0 0 100%;
  margin: 0;
  padding: 0 4%;
}

.center__center {
  justify-content: center;
  align-items: center;
}

/* Section Styles */

/* Typography */

.intro__title, .share__title, .find__title, .listen__title {
  font-family: 'Montserrat', Arial, sans-serif;
  color: #d82b3d;
  font-size: 1.625em;
  font-weight: 600;
}

.intro__text, .find__text, .share__text, .listen__text {
  font-family: 'Raleway', Arial, sans-serif;
  line-height: 1.4em;
  letter-spacing: 1px;
}

/* Icons */

.find__icon, .upload__icon {
  width: 50px;
}

.headphone__icon {
  width: 80px;
  margin-bottom: -19px;
}

/* Intro Section */

.intro-section {
  margin-top: 10px;
}

.intro__image {
  margin-bottom: -4px;
}

/* Find Section */

.find-section {
  background-color: #f5a70f;
}

.find-section__col--1 {
  background: url('../images/forest-monk@3x.png') no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  flex-direction: column;
  flex: 0 0 100%;
  margin: 0;
  padding: 0 4%;
  min-height: 300px;
}

.find-section__col--2 {
  padding-top: 4%;
  padding-bottom: 4%;
}

/* Share Section */

.share {
  background: url('../images/pattern.svg') no-repeat;
  background-position: center;
  background-position: -50%;
  background-size: 75%;
  position: relative;
}

.share__col--1 {
  flex-direction: column;
  min-height: 300px;
  justify-content: center;
  align-items: center;
}

.share__col--2 {}

.share__image {
  width: initial;
  position: relative;
  z-index: 2;
}

/* Share Section */

.listen__col--1 {
  background: url('../images/relax@2x.png') no-repeat;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  min-height: 300px;
}

.listen__col--2 {
  background: url('../images/meditate@2x.png') no-repeat;
  background-position: center;
  background-size: cover;
}

/* Media Queries */

@media (min-width: 400px) {
  .find__image {
    max-width: 280px;
    max-height: 280px;
  }
  .intro__text, .find__text, .share__text, .listen__text {
    max-width: 350px;
  }
}

@media (min-width: 604px) {
  .navigation-container {
    width: 100%;
  }
  .order__col--first {
    order: -1;
  }
  .wrapper {
    width: 100%;
    max-width: 960px;
  }
  [class*='col-'] {
    margin-left: 0% !important;
    margin-right: 0%;
  }
  .col-md-6 {
    flex: 0 0 50%;
  }
  .share, .find-section, .listen-section {
    min-height: 500px;
  }
  .share {
    min-height: 600px;
  }
  .intro__col--1 {
    padding-left: 4%;
  }
  .share__image {
    max-width: 260px;
  }
}
